/* This position the footer on the bottom and add some general styles like the color and text */

footer {
    height:50px;
    line-height:50px;
    background:white;
    color:black;
    text-align:center;
    justify-content: center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}

.footer-container{
    display: flex;

}

.github{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#github_logo{
    width: 40px;
    height: 40px;
}

footer a{
    padding: 0;
}
