

/* Here i import the family font Inter */
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
/* Generic style */
/* Contact */
/* This is the map layout including in the form */

.contact_body{
	font-family: $font-family_inter;
	color: $color_white;
	background: linear-gradient(130deg, #03a793 0%, #426F97 100%);
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}


.content_body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.title {
	position: relative;
	padding: 20px;
	padding-top: 80px;
	font-size: 900;
	font-family: $font-family_inter;
	font-weight: 400;
	font-size: 46px;
	z-index: -1;
}

.contact-container {
	max-width: 960px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 2.5rem;
}

.form-container {
	padding: 20px;
}

.contact-form {

	display: grid;
	row-gap: 1rem;

	input {
		width: 100%;
		border: none;
		outline: none;
		background: white;
		padding: 10px;
		color: $color_black;
		font-size: 0.9rem;
		border-radius: 0.4rem;
	}

	textarea {
		width: 100%;
		border: none;
		outline: none;
		background: white;
		padding: 10px;
		color: $color_black;
		font-size: 0.9rem;
		border-radius: 0.4rem;
		resize: none;
		height: 100px;
	}

	.send-button {
		border: none;
		outline: none;
		background: #ffffff;
		font-size: 1rem;
		font-weight: 500;
		width: 108%;
		color: $color_black;
		cursor: pointer;
		&:hover {
			background: $background-color_blur-black;
			transition: 0.3s all linear;
			color: white;
		}
	}
}


.map {
	iframe {
		width: 100%;
		height: 100%;
		border-radius: 18px;
	}
}


@media (min-width: 1500px){

	.title{
		font-size: 80px;
	}

	.contact-container{
		display: inline-block;

		.send-button{
			width: 102%;
			margin-bottom: 20px;
		}

		.map{
			width: 102%;
			height: 30vh;
		}
	}

}



@media (max-width: 800px){
	footer{
		visibility: hidden;
	}
}

@media screen and (max-width: 700px) {
	.contact-container {
		max-width: 80%;
		width: 100%;
		display: grid;
		justify-content: center;
		row-gap: 1rem;
		align-content: center;
		justify-items: start;
	}
	.map {
		iframe {
			width: 280px;
			height: 150%;
			border-radius: 18px;
		justify-items: center;

		}
	}

	.contact-form{
		textarea{
			height: 100px;
		}
	}

	.title{
		margin: 20 0;
		padding: 0;
	}

	footer{
		position: relative;
		
	}
}
