$color_black: black;
$color_white: white;
$font-family_inter: 'Inter';
$background-color_blur-black: rgba(0, 0, 0, 0.412);
$color_inherit: inherit;
$color_none: none;
$background-color_blue: rgb(0, 85, 255);
$background-color_transparent: transparent;