/* Her i import the famili font Inter */
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
/* Generic style */



// body 

.faq_body {
	font-family: $font-family_inter;

	color: $color_white;
	background: linear-gradient(310deg, #03a793 0%, #426F97 100%);
	margin-bottom: 50px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;

}


// main content

.faq_content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	margin: 70px 0 70px 0;
}


// title

#title_faq {
	font-size: 46px;
	padding: 30px;
	font-weight: 400;
}

// containers

.faq-container {
	width: 80%;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

// question title
.q_title {
	font-size: 28px;
	font-weight: bold;
	margin: 0;
}

// question container

.question {
	background-color: $background-color_blur-black;
	font-size: 20px;
	border-radius: 16px;
	width: 100%;
	height: 80%;
	margin-bottom: 20px;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s;
	cursor: pointer;
	p {
		padding: 10px;
	}
	div {
		padding: 10px;
	}
	&:hover {
		border: white 5px solid;
	}
}


// medias

@media (min-width: 1600px){

	#title_faq{
		font-size: 50px;
	}

	.question{
		margin-bottom: 20px;
		p{
			font-size: 18px;
		}
		div{
			font-size: 15px;
		}
	}
}

@media (max-width: 1200px){

	#title_faq{
		font-size: 30px;
		margin: 0;
		padding: 0;
	}
	.question{
		p{
			font-size: 15px;
		}
		div{
			font-size: 10px;
		}
	}
}

@media (min-width: 800px){
	#title_faq{
		margin-top: 2%;
	}

	.faq-container{
		padding: 5px;

		.question{
			margin-bottom: 5px;
		}
	}
}


@media (max-width: 800px){
	.question{
		p{
			font-size: 15px;
		}
		div{
			font-size: 10px;
		}
	}
}

@media (max-width: 500px){
	#title_faq{
		margin: 0;
	}

	.faq-container{
		padding: 5px;

		.question{
			margin-bottom: 5px;
		}
	}

	footer{
		visibility: hidden;
	}
}