$color_black: black;
$color_white: white;
$font-family_inter: 'Inter';
$background-color_blur-black: rgba(0, 0, 0, 0.412);
$color_inherit: inherit;
$color_none: none;
$background-color_blue: #0055ff;
$background-color_transparent: transparent;
$color_blue: blue;
$background-color_google: #ea4335;
$background-color_facebook: #3b5998;