// Color variables

$color_black: black;
$color_white: white;
$background-color_blur-black: rgba(0, 0, 0, 0.412);
$background-color_blue: #0055ff;
$background-color_transparent: transparent;
$color_blue: blue;
$background-color_google: #ea4335;
$background-color_facebook: #3b5998;

// font family variables

$font-family_inter: 'Inter';

// other variables

$color_inherit: inherit;
$color_none: none;